<!DOCTYPE html>
<html>
<head>
  <title>justRead.it</title>

  <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
  
  <link href="@Url.Content("~/Static/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/site/css/site.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="@Url.Content("~/Static/jquery/jquery-1.10.2.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/bootstrap/js/bootstrap.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/fancybox/jquery.fancybox.pack.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/site.js")"></script>
</head>
<body>
  @RenderBody()
</body>
</html>
