@{
  Layout = null;
}
<!DOCTYPE html>
<html ng-app="JustReadIt">
@* ReSharper disable Html.PathError *@
<head>
  <title>justRead.it</title>

  <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

  <link href="@Url.Content("~/Static/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
@* TODO IMM HI: use responsive?
  <link href="@Url.Content("~/Static/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" />
*@
@*
  <link href="@Url.Content("~/Static/flat-ui/css/flat-ui.css")" rel="stylesheet" />
*@
  <link href="@Url.Content("~/Static/site/css/app.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/site/css/app-reader.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="@Url.Content("~/Static/jquery/jquery-1.10.2.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/bootstrap/js/bootstrap.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/fancybox/jquery.fancybox.pack.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/angularjs/angular.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/angularjs/angular-resource.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/underscore/underscore-min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/app.js")"></script>
</head>
<body>
  
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a href="@Url.Content("~/")" class="brand">JustReadIt</a>
      </div>
    </div>
  </div>
  
  <div id="content-container">
    <div id="subscrs-list-container" ng-controller="SubscriptionsListController">
      <div id="subscrs-list">
        <ul class="nav nav-list" ng-repeat="subscrGroup in subscrsList.groups">
          <li class="nav-header single-line">
            {{subscrGroup.title}}
          </li>
          <li ng-class="{active: subscr.isSelected}" ng-repeat="subscr in subscrGroup.subscriptions">
            <a href="#" class="single-line" ng-click="selectSubscr(subscr)">
              <img class="icon-dynamic-favicon" ng-src="http://immsoft.apphb.com/api/favicons/find-for-url?url={{subscr.siteUrl}}" />
              {{subscr.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="feed-items-list-container" ng-controller="FeedItemsController">
      <div id="feed-items-list">
        <div class="feed-item-container" ng-repeat="feedItem in feedItemsList.items">
            <div class="feed-item" ng-click="showFeedItem(feedItem)">
            <h3>{{feedItem.title}}</h3>
            <p>{{feedItem.date}}</p>
            <p>
              {{feedItem.summary}}
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
  <div id="feed-item-reader-container" ng-controller="FeedItemReaderController">
    <div id="feed-item-reader-content" ng-bind-html="{{feedItemContentHtml}}">
  </div>
 
  <footer class="footer">
    <div class="container">
      @if (Request.IsAuthenticated) {
        <p>
          Hello @User.Identity.Name!
        </p>
        <p>
          @Html.ActionLink("Sign Out", "SignOut", "Account")
        </p>
      }
      else {
        <p>
          @Html.ActionLink("Sign In", "SignIn", "Account")
          |
          @Html.ActionLink("Sign Up", "SignUp", "Account")
        </p>
      }
    </div>
  </footer> 

</body>
@* ReSharper restore Html.PathError *@
</html>
