@{
  Layout = null;
}
<!DOCTYPE html>
<html ng-app="JustReadIt">
@* ReSharper disable Html.PathError *@
<head>
  <title>justRead.it</title>

  <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

  <link href="@Url.Content("~/Static/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/flat-ui/css/flat-ui.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/site/css/app.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/site/css/app-reader.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Static/site/css/webkit-scrollbars.css")" rel="stylesheet" />

  <script type="text/javascript" src="@Url.Content("~/Static/jquery/jquery-1.10.2.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/bootstrap/js/bootstrap.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/fancybox/jquery.fancybox.pack.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/angularjs/angular.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/angularjs/angular-resource.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/ui-bootstrap/ui-bootstrap-0.5.0.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/underscore/underscore-min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/app.js")"></script>
</head>
<body ng-controller="AppController">
  
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a href="@Url.Content("~/")" class="brand">JustReadIt</a>
      </div>
    </div>
  </div>

  <div id="content-container">
    <div id="left-panel-container">
      <div id="subscrs-list-container" ng-controller="SubscriptionsListController">
        <div id="subscrs-list">
          <ul class="nav nav-list" ng-repeat="subscrGroup in subscrsList.groups">
            <li class="nav-header single-line">
              {{subscrGroup.title}}
            </li>
            <li ng-class="{active: subscr.isSelected}" ng-repeat="subscr in subscrGroup.subscriptions">
              <a href="#" class="single-line" ng-click="selectSubscr(subscr)">
                <img class="icon-dynamic-favicon" ng-src="http://immsoft.apphb.com/api/favicons/find-for-url?url={{subscr.siteUrl}}" />
                {{subscr.title}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="right-panel-container">
      <div id="left-panel-header-container">
        <div id="selected-subscr-container" ng-show="selectedSubscr">
          <div class="row">
            <div class="span5">
              <h2>
                {{selectedSubscr.title}}
              </h2>
            </div>
            <div class="span2">
              <a ng-href="{{selectedSubscr.siteUrl}}" target="_blank">
                <i class="icon-globe"></i> Visit Site
              </a>
              </div>
          </div>
          <hr />
        </div>
      </div>
      <div id="feed-items-list-container" ng-controller="FeedItemsController">
        <div id="feed-items-list">
          <div class="feed-item-container" ng-repeat="feedItem in feedItemsList.items">
            <div class="feed-item" ng-click="showFeedItem(feedItem)">
              <h3>{{feedItem.title}}</h3>
              <p>{{feedItem.date}}</p>
              <p>
                {{feedItem.summary}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div modal="isReaderModalOpen" close="closeReaderModal()" options="readerModalOpts" ng-controller="FeedItemReaderController">
    <div class="modal-header">
      <h3>{{feedItem.title}}</h3>
    </div>
    <div class="modal-body">
      <div id="feed-item-reader-content" ng-bind-html-unsafe="feedItemContentHtml">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning cancel" ng-click="closeReaderModal()">Close</button>
    </div>
  </div>
 
  <footer class="footer">
    <div class="container">
      @if (Request.IsAuthenticated) {
        <p>
          Hello @User.Identity.Name!
        </p>
        <p>
          @Html.ActionLink("Sign Out", "SignOut", "Account")
        </p>
      }
      else {
        <p>
          @Html.ActionLink("Sign In", "SignIn", "Account")
          |
          @Html.ActionLink("Sign Up", "SignUp", "Account")
        </p>
      }
    </div>
  </footer> 

</body>
@* ReSharper restore Html.PathError *@
</html>
