@using JustReadIt.WebApp.Areas.App
@{
  Layout = null;
}
<!DOCTYPE html>
<html ng-app="JustReadIt">
@* ReSharper disable Html.PathError *@
<head>
  <title>justRead.it</title>

  <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

  <link href="@Url.Content("~/Static/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/site/css/app.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Static/site/css/app-reader-normalize.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/site/css/app-reader.css")" rel="stylesheet" />
  <link href="@Url.Content("~/Static/site/css/webkit-scrollbars.css")" rel="stylesheet" />
  
  <link href="http://fonts.googleapis.com/css?family=Cardo:400,400italic,700&subset=latin,greek-ext,greek,latin-ext" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="@Url.Content("~/Static/jquery/jquery-1.10.2.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/bootstrap/js/bootstrap.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/fancybox/jquery.fancybox.pack.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/angularjs/angular.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/angularjs/angular-resource.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/ui-bootstrap/ui-bootstrap-0.5.0.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/underscore/underscore-min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/ngUpload/ng-upload.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/app/app.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/app/AppController.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/app/FeedItemReaderController.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/app/FeedItemsController.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/app/ImportSubscriptionsController.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Static/site/js/app/SubscriptionsListController.js")"></script>
</head>
<body ng-controller="AppController">
  
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a href="@Url.Content("~/")" class="brand">JustReadIt</a>
        <ul class="nav pull-right">
          <li>
            <a href="#" ng-click="openImportSubscriptionsModal()">Import Subscriptions</a>
          </li>
          <li>
            @Html.ActionLink("Sign Out", "SignOut", "Account")
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="content-container">
    <div id="left-panel-container">
      <div id="subscrs-list-container" ng-controller="SubscriptionsListController">
        <div id="subscrs-list">
          <ul class="nav nav-list" ng-repeat="subscrGroup in subscrsList.groups">
            <li class="nav-header single-line">
              {{subscrGroup.title}}
            </li>
            <li ng-class="{'active': subscr.isSelected, 'contains-unread-items': subscr.containsUnreadItems}" ng-repeat="subscr in subscrGroup.subscriptions">
              <a href="#" class="single-line" ng-click="selectSubscr(subscr)">
                <img class="icon-dynamic-favicon" ng-src="http://immsoft.apphb.com/api/favicons/find-for-url?url={{subscr.siteUrl}}" />
                @* // TODO IMM HI: remove or style better unread items count *@
                ({{subscr.unreadItemsCount}}) {{subscr.title}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="right-panel-container" ng-controller="FeedItemsController">
      <div id="right-panel-header-container">
        <div id="selected-subscr-container" ng-show="selectedSubscr">
          <div class="row">
            <div class="span5">
              <h2 class="selected-subscr-title">
                {{selectedSubscr.title}}
              </h2>
            </div>
            <div class="span2">
              <a ng-href="{{selectedSubscr.siteUrl}}" target="_blank">
                <i class="icon-globe"></i> Visit Site
              </a>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <label class="checkbox">
                <input type="checkbox" name="showReadItems" ng-model="showReadItems" /> Show read items
              </label>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div id="feed-items-list-container">
        <div id="feed-items-list">
          <div class="feed-item-container" ng-class="{'is-read': feedItem.isRead}" ng-repeat="feedItem in feedItemsList.items">
            <div class="feed-item" ng-click="showFeedItem(feedItem)">
              <h3 class="feed-item-title">{{feedItem.title}}</h3>
              <p>{{feedItem.date}}</p>
              <p class="feed-item-summary">
                {{feedItem.summary}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div modal="isReaderModalOpen" close="closeReaderModal()" options="readerModalOpts" ng-controller="FeedItemReaderController">
    <div class="modal-header">
      <h2 class="feed-item-title">{{feedItem.title}}</h2>
    </div>
    <div class="modal-body">
      <div id="feed-item-reader-content" ng-bind-html-unsafe="feedItemContentHtml">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" ng-click="closeReaderModal()">Close</button>
    </div>
  </div>
 
  <div modal="isImportSubscriptionsModalOpen" close="closeImportSubscriptionsModal()" options="importSubscriptionsModalOpts" ng-controller="ImportSubscriptionsController">
    <form class="modal-form" action="@Routes.GetUrl(Url, Routes.Subscriptions_Import)" method="POST" ng-upload>
      <div class="modal-header">
        <h2 class="feed-item-title">Import Subscriptions</h2>
      </div>
      <div class="modal-body">
        <p>
          Select an OPML file to import your subscriptions.
        </p>
        
        <input type="file" name="opmlFile" />
      </div>
      <div class="modal-footer">
        <div class="alert {{feedbackMessageClass}} pull-left" ng-show="feedbackMessage">
          {{feedbackMessage}}
        </div>
        <button type="button" class="btn btn-primary" upload-submit="onUploadSubmit(content, completed)" ng-disabled="isImportButtonDisabled">Import</button>
        <button type="button" class="btn" ng-click="closeImportSubscriptionsModal()">Close</button>
      </div>
    </form>
  </div>
 
  <footer class="footer">
    <div class="container">
      <p class="pull-left">
        @{
          int year = DateTime.UtcNow.Year;
          string copyYears = "2012";

          if (year > 2012) {
            copyYears += " - " + year;
          }
        }
        &copy; Copyright @copyYears by justRead.it
      </p>
      <p class="pull-right">
        Contact: <i class="icon-envelope" style="vertical-align: middle; margin-bottom: 2px;"></i> <a href="mailto:marek.stoj@gmail.com">e-mail</a>
      </p>
    </div>
  </footer> 

</body>
@* ReSharper restore Html.PathError *@
</html>
